/* Asegurar que el toggler siempre sea visible */
.navbar-toggler {
    display: block !important;
}

/* Estilos para los botones del acordeón */
.accordion-button {
    background-color: #343a40 !important; /* Gris oscuro del tema darkly */
    color: #00ccff !important; /* Celeste brillante para mayor visibilidad */
}

.accordion-button:not(.collapsed) {
    background-color: #495057 !important; /* Gris un poco más claro para el abierto */
    color: #00ccff !important; /* Celeste brillante */
}

.accordion-button:focus {
    box-shadow: none !important; /* Quitar sombra molesta */
    outline: none !important;
}

/* Asegurar que el cuerpo del acordeón también sea oscuro */
.accordion-body {
    background-color: #212529 !important; /* Fondo oscuro consistente */
    color: #ffffff !important; /* Texto blanco */
}

body {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

.accordion-button {
    font-weight: 600;
}

.list-group-item-dark {
    background-color: #2c3034;
    color: #d3d3d3;
}

pre {
    background-color: #1a1a1a;
    color: #d3d3d3;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
}